{% extends 'base.html.twig' %}

{% block title %}Bien{% endblock %}

{% block body %}

 {# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<div class="container-fluid min-vh-100" style="background-image: url('{{ asset('cle.jpg') }}');background-attachment: fixed; background-size: cover; background-position: center center; opacity: 0.8;height:100vh; width:100vw;">

    <div class="row">

        <div class="container mt-5">

            <h1 class="text-center mt-5 mb-3" style="font-family: 'Montserrat';">Biens immobiliers disponibles</h1>
            <div class="row">
                <div class="col-12 p-2 d-inline-block text-center mx-auto">
                    <form class="form-inline justify-content-center">

                        {{ form_start(form) }}

                            {{ form_label(form.searchTitre, null, { 'label': 'Votre recherche :', 'label_attr': {'class': 'text-info col-2 p-0'} }) }}
                            {{ form_widget(form.searchTitre) }}

                            <div class="m-2">{{ form_widget(form.searchPrix) }}</div>

                            <button class="btn btn-md btn-info my-2 my-sm-0 ml-3" type="submit"><i class="fas fa-search"></i></button>

                        {{ form_end(form) }}
                    </form>
                    {# Affichage du nombre total de biens #}
                    <p class="d-flex justify-content-center m-0" style="font-size: 14px; font-weight: bold;">Nombre de biens : {{ biens.getTotalItemCount }} </p>
                </div>
            </div>

            <div class="row">

                <div class="col-12">

                    <p class="text-center my-3">

                        <span class="mx-2">
                        {{ knp_pagination_sortable(biens, 'Trier par Catégorie',
                        'a.categorie') }}
                        </span>

                    </p>
                 </div>

                    {% for bien in biens %}

                        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                            <div class="card h-100">
                                <div class="container-fluid p-0 h-50">
                                    <img src="{{ vich_uploader_asset(bien, 'photoFile') }}" class="card-img-top h-100 w-100" alt="">
                                </div>
                              <div class="card-body">
                                <h4 class="card-title">{{ bien.titre }}</h4>
                                <h5 class="card-title">{{ bien.categorie }}</h5>
                                <h5 class="card-title">{{ bien.prix }} €</h5>
                                <p class="card-text p-0 m-0">{{ bien.description }}</p>
                                <a class="btn btn-sm btn-info" style="border-radius: 10px" href="{{ path('bien_show', {'id': bien.id}) }}">En savoir plus</a>
                                {# Bloc executé seulement si je suis connecté #}
                                {%if is_granted('ROLE_USER')%}
                                <a class="btn btn-sm btn-warning" style="border-radius: 10px" href="{{ path('bien_edit', {'id': bien.id}) }}">Modifier</a>
                                {% endif %}
                              </div>
                            </div>
                        </div>

                    {% else %}
                        <div>
                            <p>Aucun bien présent</p>
                        </div>
                    {% endfor %}

                {# Bloc executé seulement si je suis connecté #}
                {%if is_granted('ROLE_USER')%}

                    <div class="col-12 text-center">

                        <a class="btn btn-primary white mt-5 text-center" href="{{ path('bien_new') }}">Ajouter un nouveau bien immobilier</a>

                    </div>

                {%endif%}

            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12 text-center">
            <div class="d-inline-block">
                {{ knp_pagination_render(biens) }}
            </div>
        </div>
    </div>

</div>
{% endblock %}
