{% extends 'base.html.twig' %}

{% block title %}ADMIN - Modification d'un utilisateur{% endblock %}

{% block body %}

  <div class="container-fluid min-vh-100" style="background-image: url('{{ asset('cle.jpg') }}');
    background-attachment: fixed; background-size: cover; background-position: center center; opacity: 0.8">

    <h1 class="text-center mt-5 p-5" style="font-family: 'Montserrat';">Modifier l'utilisateur: {{ user.username }}</h1>

    <div class="col-4 text-center border border-light mt-5 p-5 mx-auto" style="background-color:#E5E5E5FF">
      {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
      <a class="btn btn-md btn-info" style="border-radius: 10px" href="{{ path('user_index') }}">Retour à la liste</a>
      {{ include('user/_delete_form.html.twig') }}
    </div>

  </div>
{% endblock %}
