{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Email</th>
                <th>Pseudo</th>
                <th>Titre</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.titre }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.codePostal }}</td>
                <td>{{ user.telephone }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Détail</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">Aucun utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary-color"><a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a></button>
{% endblock %}
