{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class="container mt-5">

       <h1 class="text-center mt-5" style="font-family: 'Montserrat';">Gestion des utilisateurs</h1>

       {# Affichage du nombre total d'utilisateurs #}
       <p>Nombre total d'utilisateurs :{{ users.getTotalItemCount }}</p>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Roles</th>
                    <th>Email</th>
                    <th>Pseudo</th>
                    <th>Titre</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>CodePostal</th>
                    <th>Telephone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.titre }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.ville }}</td>
                    <td>{{ user.codePostal }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>
                        <button class="btn btn-sm btn-info"style="border-radius: 10px"><a href="{{ path('user_show', {'id': user.id}) }}">Détail</a></button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="22">Aucun utilisateur enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            {# Affichage du menu de navigation de knp_paginator #}
    <div class="row">
        <div class="col-12 my-3 text-center">
            <div class="d-inline-block">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>

        <button type="button" class="btn btn-primary-color" style="border-radius: 10px"><a href="{{ path('user_new') }}">Créer un nouvel utilisateur</a></button>
    </div>
{% endblock %}
